<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Employee Management{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="/">Trade Union</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto" style="display: flex; gap: 16px; align-items: center;">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                            <a class="btn btn-info" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                            <a class="btn btn-danger" style="margin-left: 10px;" href="{% url 'logout' %}">Logout</a>
                    </li>
                        {% if is_superuser or is_committee %}
                        <li class="nav-item">
                            <a class="btn btn-info" style="margin-left: 10px;" href="{% url 'committee_dashboard' %}">Committee Dashboard</a>
                        </li>
                        {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success" href="/register/">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/login/">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
